---
layout: default
---

<div class="row">
	<div class="col-md-3">
		<div class="logo-container">
			<div class="bigtitle">
				<span class="c2">n</span><span class="c3">e</span><span class="c4">x</span><span class="c5">t</span><span class="c6">f</span><span class="c7">l</span><span class="c8">u</span>
			</div>
			<div class="subtitle-box">
				Real-time tracking of seasonal influenza virus evolution in humans
			</div>
			<div class="spacer"></div>
		</div>
		<div class="io-container">
			<form class="form-inline form-small">
				<div class="form-group">
					<label class="control-label">Virus</label>
					<select id="virus_select" class="form-control" onChange="document.location = this.value" value="GO">
						{% for entry in site.data.viruses %}
						<option value="/{{entry.virus}}/{{page.resolution}}/" 
							{% if page.virus == entry.virus %} selected="selected" {% endif %}
							>{{ entry.name }}</option>
						{% endfor %}
					</select>
				</div>
			</form>
			<div class="spacer"></div>
			<form class="form-inline form-small">
				<div class="form-group">
					<label class="control-label">Time</label>
					<select id="resolution_select" class="form-control" onChange="document.location = this.value" value="GO">
					{% for entry in site.data.viruses %}
						{% if page.virus == entry.virus %} 
							{% for res in entry.resolutions %}
								<option value="/{{ entry.virus }}/{{ res }}"
								{% if page.resolution == res %} selected="selected" {% endif %}
								>{{ res }}</option>
							{% endfor %}
					{% endif %}
					{% endfor %}
					</select>
				</div>
			</form>	
		</div>
		<div class="bigspacer"></div>	
		<div class="io-container title">
			HA phylogeny
		</div>
		<div class="spacer"></div>		
		<div class="row">
			<div class="col-xs-6 io-container">
				<div>
					<svg id="date-input"></svg>
				</div>
				<div>
					<h5 id="legend-title">Legend</h5>
					<svg id="legend"></svg>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="col-xs-6 io-container">			
				<form class="form-horizontal form-small">
					<div class="form-group">
							<label class="col-xs-4 control-label">Color by</label>
							<div class="col-xs-8 controls">
								<select id="coloring" class="form-control">
								{% for color_option in site.data.color_options %}
									{% if page.coloring contains color_option[0] %}
									<option value={{color_option[0] }}>{{ color_option[1] }}</option>
									{% endif %}
								{% endfor %}														
								</select>
							</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 control-label">Or</label>
						<div class="col-xs-8 controls">
							<input id="gt-color" type="search" placeholder= "{{ page.gtplaceholder }}"  class="form-control">
						</div>
					</div>		
				</form>
				<div class="spacer"></div>
				
				{% for res in site.data.restrictions %}
				<form class="form-horizontal form-small">
					<div class="form-group">
						<label class="col-xs-4 control-label">{{res.label}}</label>
						<div class="col-xs-8 controls">
							<select id="{{res.id}}" class="form-control">
								{% for reg in res.fields %}
								<option value="{{ reg[0] }}">{{reg[1] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
				{% endfor %}

				<div id="search"></div>
				<div class="spacer"></div>
				<div>
					<button id="reset" class="btn btn-default">reset layout</button>
				</div>
				<div class="spacer"></div>
			</div>					
		</div>
	</div>
	<div class="col-md-9">
		<div class="bigspacer"></div>
		<div class="treeplot-container">
			<svg id="treeplot"></svg>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
		<div class="bigspacer"></div>
	</div>
</div>

<script type="text/javascript">
	var genericDomain = [0,0.111,0.222,0.333, 0.444, 0.555, 0.666, 0.777, 0.888, 1.0];
	var path = '/data/';
	var tip_labels = true;
</script>
{{ content }}
<script src="/js/auspice.js"></script>
