---
layout: default
categories: 
 - app
---

<div class="row">
	<div class="col-md-3">
		<div class="subtitle-container note">
			Real-time tracking of seasonal influenza <br> virus evolution in humans
		</div>
		<div class="bigspacer"></div>	
		<div class="io-container title">
			Phylogeny
		</div>
		<div class="spacer"></div>		
		<div class="row">
			<div class="col-xs-6 io-container">
				<div>
					<svg id="date-input"></svg>
				</div>
				<div>
					<h5 id="legend-title">Legend</h5>
					<svg id="legend"></svg>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="col-xs-6 io-container">			
				<form class="form-horizontal form-small">
					<div class="form-group">
							<label class="col-xs-4 control-label">Color by</label>
							<div class="col-xs-8 controls">
								<select id="coloring" class="form-control">
								{% for color_option in site.data.color_options %}
									{% if page.coloring contains color_option[0] %}
									<option value={{color_option[0] }}>{{ color_option[1] }}</option>
									{% endif %}
								{% endfor %}														
								</select>
							</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 control-label">Or</label>
						<div class="col-xs-8 controls">
							<input id="gt-color" type="search" placeholder= "{{ page.gtplaceholder }}"  class="form-control">
						</div>
					</div>		
				</form>
				<div class="spacer"></div>
				
				{% for res in site.data.restrictions %}
				<form class="form-horizontal form-small">
					<div class="form-group">
						<label class="col-xs-4 control-label">{{res.label}}</label>
						<div class="col-xs-8 controls">
							<select id="{{res.id}}" class="form-control">
								{% for reg in res.fields %}
								<option value="{{ reg[0] }}">{{reg[1] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
				{% endfor %}

				<div class="spacer"></div>
				<div id="straininput"></div>
				<div class="spacer"></div>
				<textarea id="seqinput" class="form-control" placeholder="search sequences... (plain or fasta)"></textarea>
				<div class="spacer"></div>
				<button id="searchinputclear" class="btn btn-default">clear</button>
				<div class="bigspacer"></div>
				<div>
					<button id="reset" class="btn btn-default">reset layout</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="treeplot-container">
			<svg id="treeplot"></svg>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="io-container title">
			Frequencies
		</div>
		<div class="spacer"></div>
		<div class="row">			
			<div class="col-xs-6 io-container">	
				<form class="form-horizontal form-small">
					<div class="form-group">
						<div class="col-xs-12">
							<input id="gtspec" type="search" class="form-control" value="{{ page.freqdefault }}">
						</div>
					</div>
				</form>	
			</div>
			<div class="col-xs-6 io-container">					
				<div>
					<button id="plotfreq" type=button class="btn btn-default">plot frequencies</button>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
		Input mutations as position+amino acid, i.e. <span class="highlight">159Y</span>, clades as clade name, 
		i.e. <span class="highlight">3c2.a</span> and add locations as <span class="highlight">/AS</span>, 
		<span class="highlight">/NA</span>, <span class="highlight">/EU</span>, <span class="highlight">/OC</span>, 
		i.e. <span class="highlight">159Y/AS</span>. By default, positions are interpreted as residues in HA1. You can specify the subunit as <span class="highlight">HA2:18V</span>. Alternatively, simply click on variable positions in the graph below.
		<div class="spacer"></div>
	</div>
	<div class="col-md-9">
		<div class="freqplot-container">		
			<div id="gtchart"></div>
		</div>
		<div class="entropy-container">		
			<div id="entropy"></div>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="bigspacer"></div>
	</div>
</div>

<script type="text/javascript">
	var genericDomain = [0,0.111,0.222,0.333, 0.444, 0.555, 0.666, 0.777, 0.888, 1.0];
	var path = 'data/';
	var tip_labels = true;
	var default_gene='HA1';
</script>
{{ content }}
<script src="js/auspice.js"></script>
